In [2]:
import requests as r
import pandas as pd
from bs4 import BeautifulSoup

In [41]:
BASE_URL = "https://blokkenschema.nl"

In [14]:
res = r.get(BASE_URL+ '/lowlands-2023/line-up')

In [16]:
soup = BeautifulSoup(res.text, 'html.parser')
hl_links = [li.a['href'] for li in soup.find_all('li', class_='headliner')]

In [92]:
def get_schema_data(link):
    res_hl  = r.get(BASE_URL + link)
    soup_hl = BeautifulSoup(res_hl.text, 'html.parser')
    hl_data = soup_hl.find('div', class_='performance-data')
    return {
        'name': soup_hl.find('div', itemprop='performer').find('h3').string,
        'location': hl_data.find('div', itemprop='location').string,
        'start_date': hl_data.find('div', itemprop='startDate')['content'],
        'end_date': hl_data.find('span', itemprop='endDate')['content'],
    }

In [94]:
list_of_schema = [get_schema_data(link) for link in hl_links]
df = pd.DataFrame(list_of_schema)
df.to_csv("lowlands_schema.csv")

In [8]:

## write dataframe to a database with sqlalchemy engine
from sqlalchemy import create_engine
from config import Config
import pandas as pd

In [29]:
cfg = Config()
engine = create_engine(cfg.SQLALCHEMY_DATABASE_URI, echo=True)
# df.to_sql('artist', con=engine, if_exists='append', index=False)

In [30]:
# read rows from postgresql sqlalchemy query into pandas dataframe
engine = create_engine(cfg.SQLALCHEMY_DATABASE_URI, echo=False)
df = pd.read_sql_table('artist', engine)

In [34]:
df['starttime'] = df['startdate'].dt.strftime('%H:%M')
df['endtime'] = df['enddate'].dt.strftime('%H:%M')

In [39]:
df

,artist_id,name,stage,startdate,enddate,festival,day,starttime,endtime
0,0,(Future) Festival Classics,Heineken,2023-08-19 01:00:00,2023-08-19 03:00:00,Lowlands,Friday,01:00,03:00
1,1,¥///0 $#£[[,India,2023-08-18 23:55:00,2023-08-19 00:55:00,Lowlands,Friday,23:55,00:55
2,2,070 Shake,India,2023-08-19 21:00:00,2023-08-19 22:00:00,Lowlands,Saturday,21:00,22:00
3,3,155 & Maas Theater En Dans: Controle,Juliet,2023-08-19 19:00:00,2023-08-19 20:00:00,Lowlands,Saturday,19:00,20:00
4,4,Abel Van Gijlswijk: Aabz ’23 Tour – Rebranding...,Juliet,2023-08-18 19:00:00,2023-08-18 20:00:00,Lowlands,Friday,19:00,20:00
...,...,...,...,...,...,...,...,...,...
233,233,Yallah! Yallah!,Lima,2023-08-20 23:15:00,2023-08-21 03:00:00,Lowlands,Sunday,23:15,03:00
234,234,Yoga,India,2023-08-18 11:30:00,2023-08-18 12:30:00,Lowlands,Friday,11:30,12:30
235,235,Yungblud,Alpha,2023-08-19 16:00:00,2023-08-19 17:00:00,Lowlands,Saturday,16:00,17:00
236,236,Yunus Aktas,Adonis,2023-08-18 18:30:00,2023-08-18 19:00:00,Lowlands,Friday,18:30,19:00
237,237,Zulu,X-Ray,2023-08-19 15:15:00,2023-08-19 16:05:00,Lowlands,Saturday,15:15,16:05

In [38]:
engine = create_engine(cfg.SQLALCHEMY_DATABASE_URI, echo=False)
df.to_sql('artist', con=engine, if_exists='append', index=False)

238

In [40]:
from sqlalchemy import create_engine
from config import Config

In [41]:
cfg = Config()
engine = create_engine("", echo=True)

In [43]:
SQLALCHEMY_DATABASE_URI = "postgresql://lmvhefjmlehxuw:b51c1faa0c3edaf81d7e26a8cf3c78627e37c165f2b819d27b5e0a1832e894e1@ec2-54-155-46-64.eu-west-1.compute.amazonaws.com:5432/dc9s2j3k2c40rj"

In [44]:
engine = create_engine(SQLALCHEMY_DATABASE_URI, echo=False)
df.to_sql('artist', con=engine, if_exists='append', index=False)

238